@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
  /* parameters for the header section */
}

.logo {
  display: flex;
}
.logo__logo_place_header {
  padding-left: 64px;
  padding-top: 30px;
  margin: 0;
  position: absolute;
  width: 154px;
  height: 31px;
  z-index: 2;
}

.header__title {
  width: 730px;
  display: flex;
  align-items: center;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 3;
}

.header__subtitle {
  display: block;
  width: 388px;
  position: absolute;
  margin-left: 64px;
  margin-bottom: 30px;
  margin-top: 0;
  bottom: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 4;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  transition: opacity linear 0.2s;
}

.header__link:hover {
  opacity: 0.6;
}

.header__main-illustration {
  height: 608px;
  width: 756px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
}
/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  z-index: 0;
  margin-top: 64px;
  right: 0;
  transform: rotate(-15deg);
  animation: rotation 20s linear infinite;
}
