@keyframes rotation2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.kaufman {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
}

.kaufman__triangle {
  position: absolute;
  right: -124px;
  top: 0;
  animation: rotation2 20s linear infinite;
}

.section-title_theme_dark {
  width: 60%;
  margin-top: 90px;
  margin-bottom: 20px;
  align-self: center;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  width: 60%;
  align-self: center;
  text-align: center;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 80px;
  color: white;
}

.table_theme_dark {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  row-gap: 20px;
  padding: 0 0 90px;
  color: white;
  z-index: 2;
}

.table__cell_theme_dark {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 200px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text_theme_dark {
  row-gap: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
