.techniques {
  display: flex;
  flex-direction: column;
}

.section-title {
  margin-bottom: 20px;
  margin-top: 0;
  align-self: center;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin-bottom: 60px;
  margin-top: 0;
  width: 60%;
  align-self: center;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.cards {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  column-gap: 100px;
}

.cards__item {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 40px;
  display: block;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 43px 0 16px;
  text-align: center;
}

.cards__description {
  row-gap: 16px;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 60px;
  text-align: center;
}
