@import url(../blocks/header.css);
@import url(../blocks/description.css);
@import url(../blocks/techniques.css);
@import url(../blocks/video.css);
@import url(../blocks/digits.css);
@import url(../blocks/oakley.css);
@import url(../blocks/feynman.css);
@import url(../blocks/kaufman.css);
@import url(../blocks/khan.css);

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;
  position: relative;
  color: white;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 60px auto 40px;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
}

.logo__logo_place_footer {
  display: flex;
  justify-content: right;
  width: 183px;
  height: 35px;
  margin: 0;
}

.footer__author {
  align-self: last baseline;
  margin: 18px 0 18px -180px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__list {
  list-style: none;
  padding: 0;
}

.footer__column_heading {
  row-gap: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-link {
  color: #2f80ed;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icons {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
